# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
# *.mod # changed for golang go.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build folder
/build/

# syntastic
.syntastic_cpp_config_file

# vs code
.DS_Store
.vscode/

# golang phase 2
/go_caw
src/go_caw/caw
src/go_caw/faz
